@charset "UTF-8";

@media screen and (max-width: 390px) { /* Telas de celulares pequenas */
    main > section > div{
        width: 270px;
    }
    p#numTotal{
        font-size: 0.7em;
    }
    
    p#frase1{
        font-size: 0.6em;
        margin-right: 25px;
    }
    div#main2 > div.telaRev > p > div.nomePdt{
        margin-left: 0px;
        font-size: 0.9em;
    }
    section#revisao > header > div#carrinho2 > p#frase{
        font-size: 0.7em;
    }
    section#revisao > header p#palavra4{

        font-size: 0.7em;
    }
    section#revisao > header p#palavra3{
        font-size: 0.7em;
    }
}

@media screen and (min-width: 786px) and (max-width: 992px){

    main > section > div{
        display: inline-block;
        width: 280px;
        margin-right: 23px;
        margin-left: 7px;
        margin-bottom: 15px;
        box-shadow: none;
    }
    main > section{
        margin-left: 14vw;
        margin-right: 1vw;
    }
    main > section > h1{
        text-align: center;
        margin-right: 10vw;
    }
    div#main2 > div.telaRev{
        width: 520px;
        margin: auto;
        margin-top: 30px;
        padding-left: 20px;
        margin-left: 19vw;
        margin-right: 17px;
    }
    div#main2 > div.telaRev > p{
        font-size: 1em;
    }
    section#revisao > header > div#logo2{
        margin-left: 70px;
        margin-right: 70px;
        padding: 0px 15px;
    }
    section#revisao > header > div#voltar{
        width: 70px;
    }
    section#revisao > header > div#voltar > p{
        font-size: 1em;
    }
    section#revisao > header p#palavra3{
        font-size: 1.2em;
    }
    section#revisao > header p#palavra4{
        font-size: 1.2em;
    }
    section#revisao > header > div#carrinho2 > p#frase{
        font-size: 1.1em;
    }
    
    section#revisao > header > div#carrinho2 > p#qtdCarro2{
        font-size: 1.1em;
    }
}

@media screen and (min-width: 992px) {
    main > section > div{
        display: inline-block;
        width: 300px;
        margin-right: 23px;
        margin-left: 7px;
        margin-bottom: 15px;
        box-shadow: none;
    }
    main > section{
        margin-left: 14vw;
        margin-right: 1vw;
    }
    main > section > h1{
        text-align: center;
        margin-right: 10vw;
    }
    div#main2 > div.telaRev{
        width: 520px;
        display: block;
        margin: auto;
        margin-top: 30px;
        padding-left: 20px;
    }
    div#main2 > div.telaRev > p{
        font-size: 1em;
    }
    section#revisao > header > div#logo2{
        margin-left: 70px;
        margin-right: 70px;
        padding: 0px 15px;
    }
    section#revisao > header > div#voltar{
        width: 70px;
    }
    section#revisao > header > div#voltar > p{
        font-size: 1em;
    }
    section#revisao > header p#palavra3{
        font-size: 1.2em;
    }
    section#revisao > header p#palavra4{
        font-size: 1.2em;
    }
    section#revisao > header > div#carrinho2 > p#frase{
        font-size: 1.1em;
    }
    
    section#revisao > header > div#carrinho2 > p#qtdCarro2{
        font-size: 1.1em;
    }
}