@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
}

body{
    background-color: rgb(22, 22, 22);
}

main > header{
    background-color: rgb(22, 22, 22);
    padding: 20px;
    margin-left: calc(96vw - 170px);
}

main > header > div{
    display: inline-block;
}

main > header p#palavra1{
    display: inline;
    font-weight: bold;
    color: white;
}
main > header p#palavra2{
    display: inline;
    font-weight: bold;
    color: red;
}

main > span{
    color: white;
    transform: translateY(-200%);
    margin-left: 35px;
    cursor: pointer;
}

menu{
    padding-top: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

p.icone{
    border-radius: 50%;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 4px;
    cursor: pointer;
}

p.icone:hover{
    background-color: yellow;
}

main > div#info{
    background-color: white;
    width: 250px;
    height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 4px solid rgb(39, 181, 39);
    font-size: 0.9em;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

main > div#info > span{
    background-color: rgb(34, 198, 34);
    border-radius: 50%;
    padding: 2px;
    margin-top: 2px;
    width: 27px;
}

main > section > h1{
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

main > section > div{
    display: block;
    color: white;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.529);
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px red;
}

div.qtd{
    text-align: center;
    width: 15px;
    background-color: red;
    padding: 8px 10px;
    border-radius: 50%;
    margin: 0px;
    margin-top: -7%;
    margin-left: -7%;
    display: none;
}

main > section > div > h2{
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 5px;
}

main > section > div > img{
    display: block;
    margin: auto;
    padding: 6px;
    border-radius: 15px;
}

section#hamburguer{ display: block; }
section#pizza{ display: none; }
section#bebidas{ display: none; }
section#sorvetes{ display: none; }

main > section > div > p{
    font-size: 0.6em;
    padding-left: 15px;
}

div.preco{
    display: block;
    margin-top: 10px;
    padding-left: 15px;
}

div.preco > p.valor{
    text-align: left;
    display: inline;
    font-size: 1.3em;
}

div.preco > p.botao{
    text-align: right;
    display: inline;
    margin-left: 130px;
    background-color: red;
    padding: 4px 10px;
    font-size: 1.5em;
    border-radius: 50%;
    cursor: pointer;
}

div.preco > p.botao:hover{
    background-color: rgb(195, 0, 0);
}

section#carrinho{
    background-color: red;
    width: 170px;
    margin-left: auto;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
}

section#carrinho > p{
    display: inline;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
}
section#carrinho > span{
    color: white;
    padding-right: 7px;
}

section#carrinho > p#qtdCarro{
    color: yellow;
    display: inline;
    font-size: 1.6em;
}

section#carrinho:hover{
    background-color: rgb(204, 2, 2);
}

/* ------ CONFIGURAÇÕES DA PÁGINA DE REVISÃO -------- */
section#revisao{
    width: 100vw;
}

section#revisao > header{
    text-align: center;
    margin-top: 30px;
}

section#revisao > header > div#voltar{
    width: 60px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

div#voltar:hover{
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    padding: 2px;
}

section#revisao > header > div#voltar > p{
    font-size: 0.7em;
    font-weight: bold;
}

section#revisao > header > div#voltar > span{
    font-size: 1.5em;
}

section#revisao > header > div#logo2{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 5px;
    border-left: 1px solid red;
    border-right: 1px solid red;
}


section#revisao > header div{
    background-color: rgb(22, 22, 22);
    display: inline-block;
}

section#revisao > header p#palavra3{
    display: inline;
    font-weight: bold;
    color: white;
    font-size: 0.7em;
}
section#revisao > header p#palavra4{
    display: inline;
    font-weight: bold;
    color: red;
    font-size: 0.7em;
}

section#revisao > header > div#carrinho2 > p#frase{
    display: inline;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
}

section#revisao > header > div#carrinho2 > p#qtdCarro2{
    display: block;
    color: yellow;
    font-weight: bold;
    font-size: 0.8em;
}

section#revisao > header > span{
    font-size: 2em;
    color: white;
}

div#main2{
    width: 90vw;
}

div#main2 > div.telaRev{
    width: 90vw;
    background-color: black;
    margin-top: 15px;
    margin-left: 4vw;
    margin-right: 6vw;
    border: 2px solid white;
}

div#main2 > div.telaRev > p{
    display: block;
    color: white;
    font-size: 0.8em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-weight: bolder;
    margin-right: 20px;
}

div#main2 > div.telaRev > p > div{
    background-color: black;
    color: white;
    display: inline;
    margin-left: 20px;
    font-weight: 700;
}

div#main2 > div.telaRev > p > img{
    margin-left: 20px;
}

div#main2 > div.telaRev > p > div.nomePdt{
    margin-left: 5px;
    font-size: 1.2em;
}

div#main2 > div.telaRev > p > div.unidades{
    background-color: white;
    color: black;
    display: inline;
    padding: 3px 10px;
    border-radius: 10px;
}

div#main2 > div.telaRev > p > div#menos{
    margin-left: 30px;
}

div#main2 > div.telaRev > p > div#menos, div#mais{
    font-size: 1em;
    border: 2px solid yellow;
    border-radius: 50%;
    padding: 4px 7px;
    cursor: pointer;
    font-weight: bold;
    display: inline;
}

div#main2 > div.telaRev > div.lixo{
    color: yellow;
    text-align: center;
    cursor: pointer;
}

div#main2 > div.telaRev > div.lixo:hover{
    color: red;
}

div#total{
    width: 83vw;
    margin-left: 4vw;
    margin-right: 7vw;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    padding: 10px;
}

p#numTotal{
    display: inline;
    font-size: 0.8em;
}

p#frase1{
    background-color: red;
    border-radius: 5px;
    font-size: 0.6em;
    padding: 8px;
    color: white;
    display: inline;
    margin-right: 35px;
}

p#frase1:hover{
    background-color: brown;
}

/* ---------------------- XXX -------------------- */