@charset "UTF-8";

@media screen and (max-width: 390px) {
    div#main{
        margin-top: 70px;
    }
    div#calculadora{
        width: 300px;
    }
    div#entrada > form input{
        width: 275px;
    }
    button#calcBtn{
        margin-right: 40px;
    }
    div#container-info{
        margin-top: 40px;
    }
    div#informes{
        width: 300px;
    }
    div#informes > h2{
        font-size: 1.2em;
    }
    div#container-res > h1#res{
        width: 70px;
    }
    div#container-clas > h2{
        font-size: 1.2em;
    }
    div#container-clas > h2#clas{
        font-size: 1.1em;
    }
    div#container-tabela p{
        font-size: 0.8em;
    }
}