@charset "UTF-8";

.body{
    padding: 20px;
}

.containerCard{
    display: flex;
    justify-content: center;
}

.card{
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.023);
    margin-top: 50px;
    overflow: hidden;
    margin-right: 16px;
}

.card > .poster{
    position: relative;
    overflow: hidden;
}

.card > .poster::before{
    content: '';
    position: absolute;
    bottom: -130px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(34, 34, 34) 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.card:hover > .poster::before{
    bottom: 0px;
}

.card img{
    width: 100%;
    height: 300px;
    transition: 0.5s;
}

.card:hover > .poster img{
    transform: translateY(-50px);
    filter: blur(1px);
}

.details{
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}

.card:hover .details{
    bottom: 15px;
}

.details > h3{
    max-width: 130px;
    max-height: 90px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 17px;
}