@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
    background-color: white;
}

*{
    margin: 0px;
}

header{
    background-color: rgb(44, 44, 44);
}

header img{
    width: 100%;
    display: block;
    margin: auto;
}

nav{
    padding: 10px;
    padding-left: 40px;
    background-color: rgb(44, 44, 44);
    border-color: blueviolet;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

nav > a{
    background-color: rgb(44, 44, 44);
    padding: 6px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav > a:hover{
    background-color: rgb(115, 199, 203);
    color: white;
    transition-duration: 0.3s;
}

main{
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

main > article > h2{
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

div#projetos{
    background-image:linear-gradient(to right, rgb(0, 155, 252) 30%, blue);
    padding: 15px;
    border-radius: 7px;
}

div#projetos > h2{
    text-indent: 30px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

div#projetos > picture{
    margin-left: 200px;
    max-width: 350px;
    display: block;
    margin: auto;
    width: 100%;
}

div#projetos > div{
    display: none;
}

div#projetos:hover > div{
    display: block;
}