@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@font-face {
    font-family: 'games';
    src: url('fonts/Pokemon\ Hollow.ttf') format('truetype');
}

body{
    background-color: white;
}

*{
    margin: 0px;
}

header{
    background-color: rgb(44, 44, 44);
}

header img{
    display: block;
    margin: auto;
}

nav{
    padding: 10px;
    padding-left: 40px;
    background-color: rgb(44, 44, 44);
    border-color: blueviolet;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

nav > a{
    background-color: rgb(44, 44, 44);
    padding: 6px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav > a:hover{
    background-color: rgb(115, 199, 203);
    color: white;
    transition-duration: 0.3s;
}

main{
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

main > article > h2{
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

div#projetos{
    background-image:linear-gradient(to right, rgb(0, 155, 252) 30%, blue);
    padding: 0px 15px 10px 15px;
    border-radius: 7px;
    min-width: 300px;
    max-width: 900px;

}

h2.games{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-family: 'games';
}

div#projetos img{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 0px;
    padding-bottom: 0px;
}

div#projetos > a{
    display: none;
}

div#projetos:hover > a{
    display: block;
    background-color: rgb(66, 88, 228);
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}