@charset "UTF-8";

@media screen and (max-width: 390px) {
    #container-absoluto{
        margin-top: 50px;
    }
    #container{
        width: 300px;
    }
    h1#frase-modo{
        padding-left: 100px;
    }
    #timer{
        font-size: 2em;
        gap: 0rem;
    }
    div.time{
        width: 45px;
        margin-bottom: 5px;
        margin: auto;
        text-align: center;
    }
    #segundos{
        width: 30px;
        font-size: 1rem;
    }
    #container-datas{
        text-align: center;
    }
    #container-modos{
        margin-top: 30px;
    }
    #container-op{
        font-size: 0.9em;
        width: 230px;
        padding: 10px;
    }
}


@media screen and (min-width: 390px) and (max-width: 768px) {
    #container-absoluto{
        margin-top: 80px;
    }
    #container{
        width: 390px;
    }
    h1#frase-modo{
        padding-left: 100px;
    }
    #timer{
        font-size: 3em;
        gap: 0rem;
    }
    div.time{
        width: 70px;
        margin-bottom: 5px;
        margin: auto;
        text-align: center;
    }
    #segundos{
        width: 40px;
        font-size: 1.5rem;
    }
    #container-datas{
        text-align: center;
    }
    #container-modos{
        margin-top: 30px;
    }
    #container-op{
        font-size: 1.1em;
        width: 300px;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    #container-absoluto{
        margin-top: 100px;
    }
    #container{
        width: 650px;
    }
    h1#frase-modo{
        padding-left: 100px;
        font-size: 1.4em;
    }
    #timer{
        padding-top: 40px;
        font-size: 5em;
        gap: 0rem;
        padding-bottom: 15px;
    }
    div.time{
        width: 110px;
        margin-bottom: 5px;
        margin: auto;
        text-align: center;
    }
    #segundos{
        width: 50px;
        font-size: 2.5rem;
    }
    #container-datas{
        text-align: center;
        font-size: 1.5em;
    }
    #container-modos{
        margin-top: 50px;
    }
    #container-op{
        font-size: 1.7em;
        width: 530px;
        padding: 20px;
    }
}