@charset "UTF-8";

:root{
    --cor01: #C516FA;
    --cor02: #9616DB;
    --cor03: #9732F0;
    --cor04: #6F23D9;
    --cor05: #6828FC;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, var(--cor01), var(--cor02));
    /*
    background-color: rgb(44, 44, 44);*/
    position: relative;
}

#container-absoluto{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    background-color: black;
    color: white;
    width: 700px;
    border-radius: 20px;
}

h1#frase-modo{
    background-color: var(--cor03);
    /*
    background-color: rgb(76, 76, 76);*/
    padding: 10px 0px;
    padding-left: 70px;
    font-size: 15px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-shadow: 1px 1px 3px black;
}

#timer{
    padding-top: 20px;
    gap: 1rem;
    font-size: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    font-weight: bolder;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 15px;
    border-bottom: 5px solid var(--cor02);
    /*
    border-bottom: 5px solid rgb(76, 76, 76);*/
}

#container-datas{
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 10px 10px;
    padding-right: 60px;
}

#container-datas > p{
    padding-right: 10px;
}

h1#frase-data{
    padding: 10px;
    font-size: 18px;
    text-align: right;
    padding-right: 40px;
}

#segundos{
    font-size: 3rem;
}

#container-modos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#container-op{
    background-color: var(--cor03);
    /*
    background-color: rgb(76, 76, 76);*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

#container-input{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#sem-amLal, #sem-escLab{
    padding-left: 20px;
}

label.etiqueta{
    padding-right: 5px;
}

#container-escuro{
    padding-top: 10px;
    border-top: 1px solid black;
}